.food-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.food {
  width: 20%;
  max-height: 180px;
  min-width: 120px;
  margin-bottom: 35px
}

.food>img {
   max-height: 17vw;
    min-height: 17vw;
    max-width:17vw;
    min-width: 17vw;
}

@media (max-width: 580px) {
  .food-list {
    display: block;
  }
}