.food-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.food {
  width: 20%;
  min-width: 120px;
  border: 1px solid rgba(160,160,160,0.2);
}

.food>img {
  width: 100%;
  height: auto;
}

@media (max-width: 580px) {
  .food-list {
    display: block;
  }
}